 .u-section-1 {
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(188, 116, 50, 0.5), rgba(0, 0, 0, 0.5)), linear-gradient(to bottom, rgba(188, 116, 50, 1), rgba(188, 116, 50, 1));
  background-size: cover, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 1260px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  min-height: 1164px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("images/Loqueelvientosellevo.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 1164px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.41;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 40px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 0 auto 0 223px;
}

.u-section-1 .u-text-3 {
  margin: 13px 0 0 11px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  --bottom-right-radius: 30px;
  --top-left-radius: 30px;
  margin: 0 156px 0 auto;
  padding: 23px 61px 24px 59px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.2858em;
  margin-left: 0;
  vertical-align: -1px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  margin: 11px auto 35px 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1111px;
  }

  .u-section-1 .u-image-1 {
    min-height: 960px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 960px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 182px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 53px;
    margin-left: 47px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1365px;
  }

  .u-section-1 .u-image-1 {
    min-height: 1521px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1138px;
  }

  .u-section-1 .u-image-1 {
    min-height: 1141px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 137px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 886px;
  }

  .u-section-1 .u-image-1 {
    min-height: 718px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 86px;
  }
}